/* color helpers */
$colors: "white", "black", "brand0", "brand1", "brand2", "brand3", "gray1", "gray2", "gray3", "gray4", "gray5", "green",
  "red", "red2", "yellow", "blue", "none";

@each $color in $colors {
  .border-#{$color} {
    border: 1px solid var(--#{$color});
  }
  .border-color-#{$color} {
    border-color: var(--#{$color});
  }
  .color-#{$color} {
    color: var(--#{$color});
  }
  .bg-#{$color} {
    background: var(--#{$color});
  }
}

.border-0 {
  border: none;
}

/* endof color helpers */
